/* Nicolas Tolmias */
body
{
      font-family: "Arial", Arial, sans-serif;
      white-space: nowrap;
      width: 80%;
      height: 80%;
      margin: 0px;
      padding: 0px;
      overflow-x: hidden;
}

header
{
   height: 50px;
   border: 1px solid #CCC;
   position: fixed;
   top: 0px;
   font-size: 18px;
   background-color: #4B4D52;
   text-align: center;
   color: #DE8642;
   z-index: 1;
   padding-bottom: 5px;
   padding-left: 350px;
   padding-right: 350px;
}

header a:hover{
   color: yellow;
}

.Directory button:hover{
   color: yellow;
}
.dropdown-content a:hover{
   color: yellow;
}

.Directory{
   list-style-type: none;
   display: inline-block;
   padding-left: 20px;
   padding-right: 20px;
   background-color: #4B4D52;
   color: #DE8642;
   font-size: 16px;
   border: none;
   cursor: pointer;
   z-index: 2;
}

.TechPic{
   top: 30px;
   width: 1050px;
   height: 500px;
   position: relative;
   z-index: -1;
}

h1{
   position: absolute;
   top: 200px;
   width: 1050px;
   padding: 10px;
   color: white;
   background: rgba(0, 0, 0, 0.7);
}

.Latest_Projects{
   padding-top: 75px;
   height: 400px;

}
.Latest_Projects_1
{
   display: inline-block;
   padding-left: 50px;
   padding-right: 50px;
   border: 5px solid #CCC;
   text-align: center;
   margin-left: 10px;
   margin-right: 10px;
}
.Latest_Projects_2
{
   display: inline-block;
   padding-left: 50px;
   padding-right: 50px;
   border: 5px solid #CCC;
   text-align: center;
   margin-left: 10px;
   margin-right: 10px;
}
.Latest_Projects_3
{
   display: inline-block;
   padding-left: 50px;
   padding-right: 50px;
   border: 5px solid #CCC;
   text-align: center;
   margin-left: 10px;
   margin-right: 10px;
}

.Latest_Projects h2
{
   padding-left: 350px;
}

table {
   position: inline-block;
   width: 1050px;
   top:43px;
   bottom: 50px;
   height: 400px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#deals tr:nth-child(even) {
    background-color: #eee;
}
table#deals tr:nth-child(odd) {
   background-color:#fff;
}
table#deals th {
    background-color: black;
    color: white;
}

.dropbtn {
    background-color: #4B4D52;
    color: #DE8642;
    font-family: serif;
    font-size: 18px;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.dropdown-content a:hover{
   color: yellow;
}


.dropdown {
    position: relative;
    display: inline-block;
    z-index: 2;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4B4D70;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    border: 1px solid white;
}

.dropdown-content a {
    color: #DE8642;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 2;
}

.dropdown a:hover {
   background-color: #4B4D52
}

.show {
   display:block;
   z-index: 2;
}

a:link {
    color: #DE8642;
    text-decoration: none;
}

a:visited {
    color: #DE8642;
    text-decoration: none;
}

a:hover {
    color: #DE8642;
    text-decoration: none;
}

a:active {
    color: #DE8642;
    text-decoration: none;
}

.topFooter
{
   position: relative;
   background-color: #4B4D52;
   color: #DE8642;
   font-size: 15px;
   padding-top: 30px;
   padding-bottom: 30px;
   padding-left: 100px;
   width: 1050px;
}
.topFooter p
{
   display: inline-block;
   padding-left: 25px;
}


.topFooter img
{
   height: 50px;
   width: 50px;
   border-radius: 50%;

}

#leftSide , #rightSide
{
   display: inline-block;
}

#leftSide
{
   width: 500px;
   padding-right: 100px;
}

#rightSide
{
   padding-left: 100px;
   width: 500px;
   border-left: thick double #383838;

}
.contactUs p
{
   display: block;
}

#rightSide input[type=text]
{
   padding: 10px;
   border: none;
   border-bottom: solid 2px #c9c9c9;
   transition: border 0.3s;
   background-color: #4B4D52;
   font-style: italic;
}
#rightSide input[type=submit]
{
   margin-top: 5px;
   background-color: #DE8642;
   border: none;
   border-radius: 25px;
}



.bottomFooter
{
   position: relative;
   background-color: #383838;
   color: #DE8642;
   font-size: 12px;
   padding-top: 3px;
   padding-bottom: 3px;
   padding-left: 100px;
   width:1050px;
}
#creator
{
   display: inline-block;
   width: 500px;
}

#policy, #terms
{
   display: inline-block;
   width: 200px;
   text-align: right;
   clear: both;
}

#follow
{
   display:relative;
   clear:right;
}
